[build]
  base = "./"
  publish = "_site"
  command = "yarn build"
  # This sort of lets us build only on tagged commits to prod
  # [context.production]
  #   ignore = "if git diff $CACHED_COMMIT_REF $COMMIT_REF ./package.json | grep - | grep version && git diff $CACHED_COMMIT_REF $COMMIT_REF ./package.json | grep + | grep version; then exit 1; else exit 0; fi"

# Sets our asset optimization
[build.processing.css]
  bundle = true
  minify = true
[build.processing.js]
  bundle = true
  minify = true
[build.processing.html]
  pretty_urls = false
[build.processing.images]
  compress = true

# Caches our images for 1 year
[[headers]]
  for = "/images/*"
  [headers.values]
	  Cache-Control = "public, max-age=31536000"

# Domain redirects
[[redirects]]
  from = "https://devwithlando.io/*"
  to = "https://lando.dev/:splat"
  status = 301
[[redirects]]
  from = "https://lndo.io/*"
  to = "https://lando.dev/:splat"
  status = 301
[[redirects]]
  from = "https://blog.devwithlando.io/*"
  to = "https://lando.dev/blog/:splat"
  status = 301
  force = true
[[redirects]]
  from = "https://blog.lando.dev/*"
  to = "https://lando.dev/blog/:splat"
  status = 301
  force = true
[[redirects]]
  from = "https://blog.lndo.io/*"
  to = "https://lando.dev/blog/:splat"
  status = 301
  force = true
[[redirects]]
  from = "https://events.devwithlando.io/*"
  to = "https://lando.dev/events/:splat"
  status = 301
  force = true
[[redirects]]
  from = "https://events.lando.dev/*"
  to = "https://lando.dev/events/:splat"
  status = 301
  force = true
[[redirects]]
  from = "https://events.lndo.io/*"
  to = "https://lando.dev/events/:splat"
  status = 301
  force = true

# Legacy redirects from cloudflare
[[redirects]]
  from = "https://lando.dev/sponsor/"
  to = "https://github.com/sponsors/lando"
  status = 301
[[redirects]]
  from = "https://lando.dev/join/"
  to = "https://docs.lando.dev/contrib/contributing.html"
  status = 301
[[redirects]]
  from = "https://lando.dev/alliance/join/"
  to = "https://docs.lando.dev/contrib/contributing.html"
  status = 301

# Subsite redirects
[[redirects]]
  from = "/blog/*"
  to = "https://lando-blog.netlify.app/:splat"
  status = 200
  force = true
[[redirects]]
  from = "/events/*"
  to = "https://lando-events.netlify.app/:splat"
  status = 200
  force = true
