body {
    background: radial-gradient(121.65% 71.43% at 91.1% 13.63%, var(--c-bg-lighter) 0%, var(--c-bg) 100%);
    font-size: 1.375rem;
    .btn {
        padding: .5rem 2rem;
        border-radius: 42px;
        background: var(--c-brand);
        color: var(--c-text);
        font-size: 1rem;
        display: inline-block;
        line-height: 2rem;
        height: 2rem;
    }
    .btn-primary {
        font-weight: bold;
        text-transform: uppercase;
    }
    h1, h2, h3 {
        border-bottom: none;
    }
    h2 {
        .emphasis {
            color: var(--c-brand);
        }
    }
    h3 {
      font-weight: 800;
      font-size: 3rem;
      line-height: 3.25rem;
      letter-spacing: -0.03em;
      .emphasis {
        color: var(--c-brand-light);
      }
    }
    .page {
        position: relative;
        overflow: hidden;
    }
}

html.dark {
    h1,
    h2,
    h3 {
        color: var(--c-text-lightest);
        margin: 1rem 0;
    }
}


@media (max-width: $MQNarrow) {
    .orbit {
        display: none;
    }
}
